version: '3.7'


services:
  proxy:
    image: sameersbn/squid:latest
    ports:
      - 3128:3128
    volumes:
      - ./squid/squid.conf:/etc/squid/squid.conf

  feedserver:
    build: feedserver/
    image: xr09/feedserver:0.1
    ports:
      - 80:80
    volumes:
      - ./feeds:/usr/share/nginx/html
    links:
      - proxy:proxy
    environment:
      - "http_proxy=http://proxy:3128"
      - "https_proxy=http://proxy:3128"
      - "RH_YEAR=2018"
      - "NVD_YEAR=2018"
      - "SLEEP_TIME=30"

